DISCORD_BOT_TOKEN=your_bot_token_here
CHANNEL_ID=0
SEND_ENABLED=true
GITLAB_BASE_URL=https://gitlab.com/YOUR_NAMESPACE
GITLAB_URL=https://gitlab.com
GITLAB_TOKEN=
GITLAB_PROJECTS=atakalive/gokrax,atakalive/WatcherB
